.display-flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}

/* Alignement des éléments dans le sens principal (axe principal) */
.align-start {
  justify-content: flex-start;
}

.align-center {
  justify-content: center;
}

.align-end {
  justify-content: flex-end;
}

.align-space-between {
  justify-content: space-between;
}

.align-space-around {
  justify-content: space-around;
}

.align-top {
  align-items: flex-start;
}

.align-middle {
  align-items: center;
}

.align-bottom {
  align-items: flex-end;
}

.flex-row {
  flex-direction: row;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.flex-column {
  flex-direction: column;
}

.flex-column-reverse {
  flex-direction: column-reverse;
}
.flex-wrap {
  flex-wrap: wrap;
}
