:root {
  --primary-color: rgb(255, 255, 255);
  --secondary-color: rgb(255, 166, 0);
  --thirdy-color: #141414;
}
* {
  cursor: none;
}
/* ====== police ====== */
@font-face {
  font-family: "LeagueSpartan";
  src: url("./../fonts/LeagueSpartanBold.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "FontsFreeNetLastica";
  src: url("./../fonts/FontsFree-Net-Lastica.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Panchang";
  src: url("./../fonts/Panchang/Panchang-Medium.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.LeagueSpartan {
  font-family: "LeagueSpartan";
}
.Lastica {
  font-family: "FontsFreeNetLastica";
}
.Panchang {
  font-family: "Panchang";
}
/* ====== html corp ====== */
html {
  scroll-behavior: smooth;
  cursor: url("data:image/svg+xml,%3Csvg height='6' width='6' viewBox='0 0 8 8' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='4' cy='4' fill='%23eee' r='4'/%3E%3C/svg%3E")
      3 3,
    auto;
}

body {
  margin: 0;
  font-family: Panchang;
  background-color: var(--thirdy-color);
  color: var(--primary-color);
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: none;
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.336);
  border-radius: 20px;
  scroll-margin-right: 5px;
}

h1 {
  font-size: 15px;
  margin: 0;
}

header {
  position: fixed;
  width: 100%;
  height: 50px;
  z-index: 900;
  background-color: var(--thirdy-color);
  box-shadow: 0px 5px 15px 23px #141414;
  nav {
    position: fixed;
    right: 0;
    margin-top: 20px;
    z-index: 1000;
  }
}

section,
p {
  margin: 0;
}

h2 {
  padding-top: 80px;
}

a:visited,
a:hover,
a:active,
a:link {
  text-decoration: none;
}
/* ====== header ====== */
nav a {
  margin: 0px 10px 0px 10px;
  color: var(--primary-color);
}

/* ====== Moi ====== */
#Me {
  margin-left: 0;
  margin-left: 10%;
  padding-bottom: 200px;
  #Me2 {
    padding-bottom: 200px;
    #Me3 {
      width: 100%;
      #text {
        width: 520px;
      }
      #Model {
        position: relative;
        margin-top: 230px;
        margin-right: 20px;
        width: 100%;
        max-width: 798px;
        height: 100%;
        max-height: 780px;

        img {
          object-fit: contain;
          min-width: 580px;
          width: 100%;
          max-width: 798px;
          max-height: 780px;
          position: absolute;
        }

        img:first-child {
          // transform: translate(-50%, -50%) scale(0.97);
          transform: scale(0.97);
        }
        img:last-child {
          animation: zoomInOut 3s cubic-bezier(0.68, -0.55, 0.27, 1.55) infinite
            alternate;
        }
        @keyframes zoomInOut {
          0% {
            transform: scale(0.97);
          }
          100% {
            transform: scale(0.99);
          }
        }
      }
    }
  }
}

#Skills {
  padding-bottom: 150px;
  margin-left: 7%;
  margin-right: 10%;
  display: flex;
  justify-content: space-between;
  p {
    margin-left: 10px;
  }
}

#Contact {
  height: 800px;
  margin-left: 10%;
}

.paragraphe {
  padding-top: 160px;
  text-align: center;
}

.mobile {
  display: none !important;
}

.link {
  box-shadow: inset 0 0 0 0 #ffffff;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.Me:hover,
.Skills:hover,
.Projects:hover,
.Contact:hover {
  color: black;
  box-shadow: inset 250px 0 0 0 #ffffff;
}

.replace {
  display: none;
}

.bar {
  width: 100%;
  max-width: 600px;
  height: 16px;
  background-color: dimgray;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  margin-bottom: 15px;
}

.bar2 {
  position: relative;
  height: 16px;
  background-color: var(--secondary-color);
  border-radius: 20px;
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 2s all ease;
}

.reveal.active1 {
  transform: translateY(0);
  opacity: 1;
}

.skillList {
  width: 36%;
  h2 {
    width: 360px;
    word-wrap: break-word;
  }
}

.iconeSEO {
  width: 80px;
}

.cv {
  width: 45%;
}

.seoList {
  padding-left: 0;
  ul {
    display: flex;
    align-items: center;
    flex-direction: column;

    li {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;
      margin: 20px 0px 0px 0px;
      p {
        width: 100%;
      }
    }
  }
  div li:hover img {
    transform: scale(1.1);
    transition: 1s;
  }
}

.textCenter {
  padding-top: 30px;
  text-align: center;
}

.hi {
  padding-top: 100px;
  font-size: 60px;
  min-width: 1px;
}

.name {
  font-size: 30px;
  min-width: 1px;
  min-height: 40px;
}

.active {
  color: var(--secondary-color);
  font-weight: 600;
}

.decor {
  position: fixed;
  left: 0;
  bottom: 0;
}

.stick {
  width: 3px;
  height: 50px;
  margin-left: 28px;
  background-color: white;
}

.descME {
  margin-top: 80px;
  margin-left: 7%;
  min-width: 380px;
  width: 30%;
}

.descME:hover {
  transform: scale(1.1);
  transition: 1s;
  .circleMe {
    transform: scale(1.1);
    transition: 1s;
  }
}

.blue {
  font-weight: bold;
  color: #61dafb;
}

.orange {
  color: var(--secondary-color);
}

.orange:hover {
  text-decoration: underline;
  transition: 1s;
}

.LightOrange {
  color: rgb(255, 168, 96);
  background-color: rgba(255, 255, 255, 0.075);
  animation: alternerCouleurs 3s infinite;
}

@keyframes alternerCouleurs {
  0% {
    color: rgb(212, 161, 118);
    background-color: rgba(255, 255, 255, 0.075);
  }
  50% {
    color: var(--secondary-color);
    background-color: rgba(255, 255, 255, 0.199);
  }
  100% {
    color: rgb(212, 161, 118);
    background-color: rgba(255, 255, 255, 0.075);
  }
}

.IconeForm {
  margin-right: 10px;
}

.Me2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  section {
    width: 40%;
    margin-left: 7%;
    display: flex;
    flex-direction: column;
    align-items: center;
    button {
      display: flex;
      align-items: center;
      margin-top: 30px;
      svg {
        font-size: 20px;
        margin-right: 10px;
      }
    }
    h2 {
      padding-top: 0;
    }
  }
}

.Moi {
  width: 100%;
  margin-right: 7%;
  text-align: center;
}

#Projects {
  margin-left: 7%;
  h3 {
    text-align: center;
  }
}

.projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.Card {
  display: flex;
  width: 280px;
  flex-direction: column;
  margin: 20px;
  overflow: hidden;
}

.Card:hover {
  transform: scale(1.1);
  transition: 1s;
  box-shadow: 0px 0px 23px -4px var(--secondary-color);
  .ImgCard {
    filter: brightness(70%);
    transition: 0.7s;
    width: 280px;
  }
  .description {
    display: flex;
    transition: 1.1s;
    h4 {
      animation: mooveTitle 1s forwards;
    }
    P {
      animation: mooveDesc 1s forwards;
    }
  }
}

@keyframes mooveTitle {
  0% {
    transform: translateX(-300px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes mooveDesc {
  0% {
    transform: translateY(200px);
  }
  100% {
    transform: translateY(0px);
  }
}
.icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.ImgCard {
  width: 280px;
}

.description {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  width: auto;
  height: 366px;
  overflow: hidden;
  word-wrap: break-word;
  h4 {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: var(--secondary-color);
  }
  div {
    display: flex;
    justify-content: space-around;
    margin-left: 60px;
    width: 60%;
  }
  p {
    position: static;
    overflow: hidden;
    word-wrap: break-word;
    width: 260px;
    height: auto;
    font-size: 15px;
    background-color: white;
    color: black;
    padding: 10px;
    font-family: LeagueSpartan;
    border-top: 5px solid var(--secondary-color);
  }
}

.LinkGit {
  padding: 12px;
  background-color: rgba(24, 24, 24, 0.795);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.LinkGit:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

.email {
  margin-top: 150px;
  display: flex;
  flex-direction: row-reverse;
  margin-right: 10%;
  a {
    margin-right: 450px;
    p {
      position: absolute;
      margin-top: 70px;
      font-size: 25px;
      color: var(--primary-color);
    }
  }
}

.circleContact {
  position: absolute;
  width: 280px;
  height: 100px;
  margin-top: 50px;
  margin-right: 220px;
  border-bottom: 3px solid var(--secondary-color);
  border-left: 3px solid var(--secondary-color);
  border-radius: 50%;
}

.text1 {
  position: absolute;
  margin-top: 100px;
  width: 40%;
  margin-left: 2%;
}

footer {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10px;
  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 40%;
    a {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      white-space: nowrap;
    }
    .icon {
      width: 30px;
      height: 30px;
      margin-right: 10px;
    }
    .cool-link {
      display: inline-block;
      text-decoration: none;
    }

    .cool-link::after {
      content: "";
      display: block;
      width: 0;
      height: 2px;
      background: white;
      transition: width 0.3s;
    }

    .hoverLink:hover .cool-link::after {
      width: 100%;
    }
    .arrowup {
      margin-top: -10px;
      font-size: 30px;
    }
  }
  p {
    text-align: center;
    max-width: 90%;
  }
  .hoverLink:hover .icon {
    transform: rotate(30deg);
    transition: 0.3s;
  }
}

@media screen and (max-width: 1230px) {
  #Contact {
    display: flex;
    flex-direction: column;
    min-height: 1100px;
  }

  .text1 {
    position: relative;
  }

  .email {
    margin-top: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media screen and (max-width: 1090px) {
  header {
    height: 80px;
  }

  .replace {
    display: flex;
  }
  .paragraphe {
    padding-top: 100px;
    width: 80%;
  }

  #Me3 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    #Model {
      position: absolute;
      opacity: 0.3;
      width: 80%;
      margin-top: 0px !important;
    }
  }

  .text1 {
    width: 80%;
  }
  .Me2 {
    flex-direction: column;
    align-items: center;
  }
  .Me2 section {
    width: 90%;
    margin-left: 10px;
  }
  .Me2 section button {
    margin-bottom: 30px;
  }
  .cardQualification {
    margin-right: 0%;
    width: 300px !important;
    height: 450px;
  }

  #Skills {
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 668px) {
  * {
    cursor: default;
  }
  #cursor {
    display: none;
  }
  #cursor-border {
    display: none;
  }

  #Me {
    margin-left: 5%;
  }
  .circleMe {
    margin-left: 0%;
  }
  .descME {
    margin-left: 0%;
    min-width: 350px;
  }
  .decor {
    position: fixed;
    left: 0;
    bottom: 0;
    margin-left: -15px;
  }
  .email {
    margin-top: 200px;
    a {
      margin-right: 310px;
      p {
        font-size: calc(17px + 4 * ((100vw - 320px) / 680));
      }
    }
  }

  #Me #Me2 #Me3 #Model img {
    width: 85%;
  }

  .text1 {
    margin-top: 50px;
  }
  .circleContact {
    margin-top: 50px;
    margin-right: 60px;
  }

  #Projects {
    margin-left: 10%;
    .reveal {
      h2 {
        margin-left: 20px;
      }
    }
  }
  .projects {
    width: 100%;
    margin-left: -10px;
  }
  #Projects {
    .cardQualification {
      height: 430px;
      margin-right: 0%;
      h2 {
        text-align: center;
      }
    }
  }

  #Me3 {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    #text {
      width: 300px !important;
      .hi {
        width: 300px;
      }
      .name {
        width: 300px !important;
      }
    }
  }

  #Me #Me2 #Me3 #Model img {
    min-width: 200px;
  }

  .desktop {
    display: none !important;
  }
  .mobile {
    display: flex;
  }

  #Skills {
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
    flex-direction: column;
    align-items: center;
    padding-bottom: 0px;
    p {
      margin-top: 10px;
      text-align: left;
    }
  }

  .skillList {
    width: 70%;
    h2 {
      width: auto;
      word-wrap: break-word;
    }
    section {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  article {
    .seoList {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: 60px;
      width: 60%;
      ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px 0px 10px 0px;
        padding-left: 0;
      }
      li p {
        width: auto;
      }
    }
  }

  .cv {
    text-align: center;
    width: 100%;
  }

  footer {
    margin-left: 0px;
    font-size: calc(12px + 4 * ((100vw - 320px) / 680));
    nav {
      margin-left: 30px;
      a {
        h4 {
          display: none !important;
        }
      }
    }
    p {
      width: 300px;
    }
  }

  .arrowup {
    margin-top: 0;
    margin-bottom: -5px;
    animation: none;
  }
}
