#Me {
  margin-left: 10%;
}
.hi {
  padding-top: 100px;
  font-size: 60px;
  min-width: 1px;
}
.name {
  font-size: 30px;
  min-width: 1px;
  min-height: 40px;
}

.active {
  color: var(--secondary-color);
  font-weight: 600;
}
#arrow {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-left: 43%;
  margin-right: 50%;
  width: 40px;
  height: 80px;
  border: 2px solid rgb(59, 59, 59);
  border-radius: 50px;
  color: rgb(59, 59, 59);
  font-weight: 800;

  animation: moove 2s linear infinite;
}

@keyframes moove {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0px);
  }
}
//---------------------------------
.decor {
  position: fixed;
  left: 0;
  bottom: 0;
}
.stick {
  width: 3px;
  height: 50px;
  margin-left: 28px;
  background-color: white;
}
.circle {
  background-color: white;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-left: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.circle2 {
  border: 2px solid white;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  margin-left: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.circleMe {
  position: absolute;
  width: 250px;
  height: 250px;
  margin-top: 50px;
  margin-left: 3%;
  border-top: 3px solid var(--secondary-color);
  border-left: 3px solid var(--secondary-color);
  border-radius: 50%;
  animation: 2.8s rotate forwards;
}

@keyframes rotate {
  0% {
    transform: scale(1) rotate(0deg);
  }
  100% {
    transform: scale(1.1) rotate(290deg);
  }
}

.descME {
  margin-top: 80px;
  margin-left: 7%;
  min-width: 380px;
  width: 30%;
}

.descME:hover {
  transform: scale(1.1);
  transition: 1s;

  .circleMe {
    transform: scale(1.1);
    transition: 1s;
  }
}

.blue {
  font-weight: bold;
  color: #61dafb;
}
.orange {
  color: var(--secondary-color);
}
.orange:hover {
  text-decoration: underline;
  transition: 1s;
}

// tablet version
@media screen and (max-width: 1090px) {
}
// mobile version
@media screen and (max-width: 668px) {
  #Me {
    margin-left: 5%;
  }

  .circleMe {
    margin-left: 0%;
  }
  .descME {
    margin-left: 0%;
    min-width: 350px;
  }
  .decor {
    position: fixed;
    left: 0;
    bottom: 0;
    margin-left: -15px;
  }
}
