#Projects {
  margin-left: 7%;

  h3 {
    text-align: center;
  }
}

.projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.Card {
  display: flex;
  width: 280px;
  flex-direction: column;
  margin: 20px;
  overflow: hidden;
}

.Card:hover {
  transform: scale(1.1);
  transition: 1s;
}

.Card:hover {
  box-shadow: 0px 0px 23px -4px var(--secondary-color);
  .ImgCard {
    filter: brightness(70%);
    transition: 0.7s;
  }

  .description {
    display: flex;
    transition: 1.1s;

    h4 {
      animation: mooveTitle 1s forwards;
    }
    P {
      animation: mooveDesc 1s forwards;
    }
  }
}

@keyframes mooveTitle {
  0% {
    transform: translateX(-300px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes mooveDesc {
  0% {
    transform: translateY(200px);
  }
  100% {
    transform: translateY(0px);
  }
}

.ImgCard {
  width: 280px;
}

.description {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  width: auto;
  height: 366px;
  overflow: hidden;
  word-wrap: break-word;

  h4 {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: var(--secondary-color);
  }

  div {
    display: flex;
    justify-content: space-around;
    margin-left: 60px;
    width: 60%;
  }

  p {
    position: static;
    overflow: hidden;
    word-wrap: break-word;
    width: 260px;
    height: auto;
    font-size: 15px;
    background-color: white;
    color: black;
    padding: 10px;
    font-family: LeagueSpartan;
    border-top: 5px solid var(--secondary-color);
  }
}

.LinkGit {
  padding: 12px;
  background-color: rgba(24, 24, 24, 0.795);
  border-radius: 50%;
}

.LinkGit:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

//-----------------------------
// tablet version
@media screen and (max-width: 1090px) {
}
// mobile version
@media screen and (max-width: 668px) {
  #Projects {
    margin-left: 10%;
  }
  .projects {
    width: 100%;
    margin-left: -10px;
  }

  #Projects {
    .reveal {
      h2 {
        margin-left: 20px;
      }
    }
  }
}
