@import "./pages/Home";
@import "./animations/Header";
@import "./animations/Background";
@import "./components/Skills";
@import "./components/Cursor";
@import "./components/Header";
@import "./components/Me";
@import "./components/Me2";
@import "./components/Projects";
@import "./components/Contact";
@import "./components/Footer";
